body {
    padding-top: 50px;
    padding-bottom: 20px;
}

#listButton {
    display: block;
    width: 12em;
    margin-top: 1em;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    background-color: #ff4d4d;
    border-color: #ff4d4d;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

/*Chat view*/
.grid-container {
    display: grid;
}

