body {
    padding-top: 50px;
    padding-bottom: 20px;
}

#top-button{
    margin-top: 2em;
}

.back-link {
    position: fixed;
    bottom: 4em;
    width: 60%;
    margin: 0.5em;
}

#listButton {
    display: block;
    width: 20em;
    height: 4em;
    margin-top: 1em;
    text-align: left;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    background-color: #ff4d4d;
    border-color: #ff4d4d;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

/*Chat view*/
.grid-container {
    display: grid;
    grid-template-columns: auto;
}

.grid-item {
    /*text-align: center;*/
}

#contect-section {
    width: 100%;
    height: calc(100vh - 20em);
    background: whitesmoke;
    border-radius: 0.5em;
    overflow: scroll;
    overflow-x: hidden;
}

#write-section{
    max-width: 100%;
}

.chatname{
    margin-left: 1%;
}

.message {
    width: 20em;
    line-height: 1.5em;
    padding: 1em;
    background: white;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 0.5em;
}

.content {
    font-size: 1em;
    color: black;
}

.info {
    font-size: 0.75em;
    font-style: italic;
}

.user {
    float: right;
    /*margin-left: 1em;*/
    margin-left: calc(100% - 21em);
    border-bottom-left-radius: 0px;
    border: 1px solid #abafbb;
    background-color: #ff6666;
}

.notuser {
    float: left;
    /*margin-right: 1em;*/
    margin-right: calc(100% - 21em);
    border-bottom-right-radius: 0px;
    border: 1px solid #dee1e5;
}

#input-message {
    max-width: 95%;
}

#input-button {
    float: right;
    margin-top: -34px;
}

#options-button {
}

.usernames {
    margin-left: 2%;
}


.username{
    margin-right: 3px;
}

/* Style The Dropdown Button */
/*.dropbtn {
    background-color: white;
    padding: 16px;
    font-size: 16px;
    border: 5px;
    border-color: black;
    cursor: pointer;
}*/
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    float: right;
    margin-top: -3%;
    margin-bottom: -2%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#dropdown-links{
    min-width: 200px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #f1f1f1
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: whitesmoke;
}

/*Footer*/
footer {
    position: fixed;
    bottom: 0;
    width: 60%;
}