@model IEnumerable<Whatsup.Models.ContactViewModel>

@{
    ViewBag.Title = "Contacts";
}

<h2>Contacts</h2>
<hr />

<section class="btn btn-default" id="listButton">
    @Html.ActionLink("Add Contact", "AddContact", "Contact")
</section>
<hr />

<section id="Contact">


    @foreach (var item in Model)
    {
        <section class="btn btn-default" id="listButton">
            @Html.ActionLink(item.NickName, "ContactProfile", new { index = item.Index })
        </section>
        <p></p>
    }
</section>

<section class="back-link">
    @Html.ActionLink("Back to Home", "Index", "Home")
</section>

