@model IEnumerable<Whatsup.Models.ContactViewModel>

@{
    ViewBag.Title = "Contacts";
}

<section class="top-button">
    @Html.ActionLink("Add Contact", "AddContact", "Contact", null, new { @class = "btn btn-primary btn-lg" })
</section>

<h2>Contacts</h2>

<hr />

<section id="Contact">
    @foreach (var item in Model)
    {
        @Html.ActionLink(item.NickName, "ContactProfile", new { index = item.Index }, new { @class = "ContactListButton" })
    }
</section>

<section class="back-link">
    @Html.ActionLink("Back to Home", "Index", "Home")
</section>

