
@{
    ViewBag.Title = "LogOut";
}

<h3>Log out</h3>
<hr />

<h4>Are you sure you want to log out?</h4>

<section class="logout-button">
    <p><a href="@Url.Action("LogOutUser", "User")" class="btn btn-primary btn-lg">Logout &raquo;</a></p>
</section>

<section class="back-link">
    @Html.ActionLink("Back to Chats", "Chat", "Chat")
</section>

