@using Whatsup.Models
@model ProfileUserViewModel

@{
    ViewBag.Title = "ProfileUser";
}

<h2>Profile</h2>

<p>@ViewBag.Username</p>
<p>@ViewBag.Email</p>
<p>@ViewBag.PhoneNumber</p>
<p>@ViewBag.DateCreated</p>

