
@{
    ViewBag.Title = "RegisterSuccesful";
}

<h2>RegisterSuccesful</h2>

<section class="main">
    <h3>Sign up is succesfull!</h3>
    <p>Please check you email for confirmation link.</p>
</section>
