@model IEnumerable<Whatsup.Models.ContactViewModel>

@{
    ViewBag.Title = "AddGroupChat";
}

<h2>New group chat</h2>

<div class="form-horizontal">
    <h4>Add group participants</h4>
    <hr />
    @*Een lijst maken met contacten die al in de chat zitten*@


    <hr />
    <section id="Contact">
        @foreach (var item in Model)
        {
            <div class="btn btn-default">
                @Html.ActionLink(item.NickName, "CreateChat", new { contactIndex = item.Index })
            </div>
            <p></p>
        }
    </section>
</div>