@model Whatsup.Models.Chat

@{
    ViewBag.Title = "Delete Chat";
}

<h2>Delete Chat</h2>

<h3>Delete chat with @Html.DisplayFor(model => model.Name)?</h3>

<section>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Name)
        <input type="submit" value="Delete" class="btn btn-default" />
    }
</section>



<section class="back-link">
    @Html.ActionLink("Back to Chats", "Chat", "Chat")
</section>